html {
    &.cdk-global-scrollblock {
        left: 0 !important;
        right: 0 !important;
        overflow-y: auto !important;
    }
}

body::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('./assets/images/backgrounds/patterm.png');
    background-color: #033C4A;
    background-size: cover;
}

toolbar.above,
navbar.top-navbar,
.content,
.narrow {
    width: 1170px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

content {
    min-height: 660px;
}

footer {
    margin-top: 24px;
    background-color: #00B159;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    background: #028041;
}

.mat-button[disabled],
.mat-button[disabled],
.mat-button[disabled],
.mat-button[disabled][disabled],
.mat-icon-button[disabled],
.mat-icon-button[disabled],
.mat-icon-button[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button[disabled],
.mat-stroked-button[disabled],
.mat-stroked-button[disabled] {
    color: rgba(255, 255, 255, 0.26);
    background-color: rgba(2, 128, 65, 0.26);
}

.mat-form-field {
    .mat-form-field-wrapper {
        font-size: 11px;
    }
    .mat-select {
        .mat-select-value,
        .mat-select-arrow {
            color: #fff;
        }
        &.mat-select-disabled {
            .mat-select-arrow {
                color: rgba(255, 255, 255, 0.38);
            }
        }
    }
    .mat-checkbox-frame {
        border-color: rgba(255, 255, 255, 0.54);
    }
    &.mat-form-field-disabled {
        .mat-form-field-underline,
        .mat-hint,
        .mat-form-field-label {
            color: rgba(255, 255, 255, 42);
        }
        .mat-hint,
        .mat-form-field-label {
            color: rgba(255, 255, 255, 0.38);
        }
    }
    &.mat-focused {
        .mat-form-field-ripple {
            background-color: #fff;
        }
        .mat-form-field-label {
            color: #fff;
        }
        .mat-form-field-required-marker {
            color: #fff;
        }
    }
}

.mat-form-field-appearance-legacy {
    .mat-hint,
    .mat-form-field-label {
        color: #fff;
    }
    .mat-form-field-underline {
        background-color: rgba(255, 255, 255, 0.42);
    }
    .mat-hint {
        line-height: 1.25;
    }
}

mat-tab-group {
    width: 100%;
    mat-tab-header {
        border-bottom: none !important;
        .mat-tab-list {
            mat-ink-bar {
                display: none;
            }
            .mat-tab-label {
                opacity: 1 !important;
                height: 45px !important;
                background-color: #005E4B !important;
                margin-left: 10px;
                border-radius: 5px 5px 0 0;
            }
            .mat-tab-label-active {
                background-color: #028041 !important;
            }
        }
        .mat-tab-label .mat-tab-label-content {
            color: #fff;
        }
    }
    mat-tab-body {
        padding: 0 24px;
        border: 4px #00B159 solid;
        border-radius: 7px 0 7px 7px;
        background: rgba(0, 0, 0, 0.19);
        .mat-tab-body-inner {
            height: 500px !important;
        }

    }
}

.mat-table {
    background-color: transparent !important;
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell,
    .mat-sort-header-button,
    .mat-input-element {
        color: #fff;
    }
    .mat-cell, .mat-footer-cell {
        font-size: 11px;
        .mat-icon-button {
            width: 32px;
            height: 32px;
            line-height: 38px;
            .mat-icon,
            i {
                line-height: 24px;
            }
            .material-icons {
                font-size: 21px;
            }
        }
    }
    tr.mat-row {
        padding-left: 12px;
        padding-right: 12px;
    }
    tr.mat-row:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.mat-paginator {
    background: transparent;

    .mat-paginator-range-actions {
        button {
            border-radius: 0 !important;
            & + button {
                margin-left: 12px;
            }
        }
    }
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: #fff;
}

.mat-dialog-container {
    background-color: #028041;
    color: rgba(255, 255, 255, 0.87);
}

.component-title {
    width: 35%;
    text-align: center;
    background-color: #028041;
    border-radius: 13px;
    padding: 8px 24px;
    margin: 32px auto;
}

#login {
    background: unset !important;
    color: #fff !important;
    #login-form-wrapper {
        #login-form {
            background-color: rgba(0, 0, 0, 0.19) !important;
            border: 4px #00B159 solid;
            border-radius: 7px;
            .mat-raised-button.mat-accent[disabled],
            .mat-raised-button[disabled][disabled] {
                background-color: rgba(255, 255, 255, 0.12);
                color: rgba(255, 255, 255, 0.26);
            }
        }
    }
}