<!-- CONTENT -->
<div class="content p-24">
    <form>
        <!-- [formGroup]="guaForm"  -->

        <mat-form-field [ngClass]="'w-50-p mb-24 pr-12'">
            <mat-select (selectionChange)="onGroupSelect($event)" [(ngModel)]="assignParam.groupname" name="group" placeholder="{{ 'CONT.GPERM.GNAME' | translate }}" required>
                <mat-option *ngFor="let p of groups" [value]="p.nameEn">
                    {{p.nameEn}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field [ngClass]="'w-50-p mb-24 pr-12'">
            <mat-select (selectionChange)="onUserSelect($event)" [(ngModel)]="assignParam.email" name="user" placeholder="{{ 'CONT.GPERM.UNAME' | translate }}" required>
                <mat-option *ngFor="let u of users" [value]="u.email">
                    {{u.username}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button aria-label="Submit" (click)="assignUserToGroup()">{{ 'CONT.FORMS.SUBMIT' | translate }}</button>
    </form>
</div>
<!-- / CONTENT -->