<form [formGroup]="memberWishFormGroup" (ngSubmit)="onFormSubmit()">
    <div fxFlex fxFill fxLayout="column" fxLayoutAlign="start" class="mat-tab-body-inner py-32">
        <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
            <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24'">
                <mat-select (selectionChange)="onWishOne($event)" placeholder="{{ 'CONT.WISHES.WISH1' | translate }}" [formControl]="firstWish"
                    [(ngModel)]="wish1" required>
                    <mat-option *ngFor="let wish of wishes" [value]="wish">
                        {{ wish.nameAr }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="firstWish.invalid">{{ 'CONT.FORMS.REQERR' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24 pl-12'">
                <mat-select (selectionChange)="onWishTwo($event)" placeholder="{{ 'CONT.WISHES.WISH2' | translate }}" [formControl]="secondWish"
                    [(ngModel)]="wish2" required [disabled]='!firstWish.valid'>
                    <mat-option *ngFor="let wish of wishes2Temp" [value]="wish">
                        {{ wish.nameAr }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="secondWish.invalid">{{ 'CONT.FORMS.REQERR' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24'">
                <mat-select (selectionChange)="onWishThree($event)" placeholder="{{ 'CONT.WISHES.WISH3' | translate }}" [formControl]="thirdWish"
                    [(ngModel)]="wish3" required [disabled]='!secondWish.valid'>
                    <mat-option *ngFor="let wish of wishes3Temp" [value]="wish">
                        {{ wish.nameAr }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="thirdWish.invalid">{{ 'CONT.FORMS.REQERR' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="center end">
            <button mat-button type="reset" [ngClass]="'mb-12 mx-12'">{{'CONT.FORMS.RESET' | translate }}</button>
            <button mat-button type="submit" [ngClass]="'mb-12 mx-12'" [disabled]='!memberWishFormGroup.valid'>{{'CONT.FORMS.SUBMIT' | translate }}</button>
        </div>
    </div>
</form>