<div class="page-layout simple fullwidth angular-material-elements">
    <!-- CONTENT -->
    <div class="content p-24">
        <div class="page-layout blank p-24" fusePerfectScrollbar>
            <form [formGroup]="memberWishFormGroup" (ngSubmit)="onFormSubmit()">

                <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24 pr-12'">
                    <mat-select placeholder="First wish:" [formControl]="firstWish" required>
                        <mat-option *ngFor="let wish of wishes" [value]="wish.value">
                            {{ wish.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstWish.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint>Do this and don't do that</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24 pl-12'">
                    <mat-select placeholder="Second wish:" [formControl]="secondWish" required [disabled]='!firstWish.valid'>
                        <mat-option *ngFor="let wish of wishes" [value]="wish.value">
                            {{ wish.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondWish.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint>Do this and don't do that</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="legacy" [ngClass]="'w-50-p mb-24 pr-12'">
                    <mat-select placeholder="Third wish:" [formControl]="thirdWish" required [disabled]='!secondWish.valid'>
                        <mat-option *ngFor="let wish of wishes" [value]="wish.value">
                            {{ wish.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="thirdWish.invalid">Please Choose Wish</mat-error>
                    <mat-hint>Do this and don't do that</mat-hint>
                </mat-form-field>

                <button mat-button type="submit" [ngClass]="'my-24'" [disabled]='!memberWishFormGroup.valid'>Submit!</button>
            </form>
        </div>
    </div>
</div>