@import "src/@fuse/scss/fuse";

:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        background: inherit;
        color: inherit;
        position: relative;

        .loading-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: auto;
        }

        .mat-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            font-size: 12px;
            text-align: center;
            width: 200px;
            min-height: 40px;
            height: auto;
            padding: 0 5px;
            background-color: #00B159;
            border-radius: 0 0 12px 12px;
            &.date {
                right: 130px;
                height: 40px;
            }
            &.user-menu {
                left: 130px;
            }

            .mat-button {
                min-width: auto;
                height: auto;
                padding: 0;
            }
        }
        .mat-expansion-panel {
            background: transparent;
            color: initial;
            box-shadow: unset;
            .fav {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .mat-expansion-panel-header {
                padding: 0;
                height: 40px !important;
                font-family: inherit;
                font-size: 12px;
                font-weight: normal;
                .mat-content {
                    flex-direction: row-reverse;
                }
                .mat-expansion-panel-header-title {                
                    color: #fff;
                    flex-direction: column;
                    line-height: normal;
                }
            }
            &:not(.mat-expanded) {
                .mat-expansion-panel-header {
                    &:not([aria-disabled='true']) {
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            } 
        }
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: auto;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
}
