<mat-toolbar class="p-0">
    <!-- mat-elevation-z1 -->

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>


    <mat-list class="date" cdkFocusRegionStart>
        <div class="date-text">
            {{date | date:'EEEE d MMMM y'}}
        </div>
    </mat-list>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center" class="my-36">

        <div class="">
            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')"
                fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/shura.svg">
                </div>
            </div>
        </div>

        <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
            <h3>{{ 'SITE.LOGO.TITLE' | translate}}</h3>
            <div class="logo mx-56">
                <img class="logo-icon" src="assets/images/logos/shura-main.png">
            </div>
            <h3>{{ 'SITE.LOGO.SUBTITLE' | translate}}</h3>
        </div>




    </div>

    <mat-list class="user-menu">
        <div fxFlex="1 0 auto" fxFill fxLayout="row" fxLayoutAlign="space-between center">
            <a [ngClass]="'favourite'"><mat-icon class="white-600-fg">star</mat-icon></a>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" style="line-height: 16px;">
                <span>{{ 'CONT.WELCOME' | translate}}</span>
                <span>Mahmoud Hegazy</span>
            </div>
            <a [ngClass]="'user-dropdown'" (click)="toggle = !toggle"><mat-icon class="white-600-fg">menu</mat-icon></a>
        </div>

        <div [ngClass]="{'hidden' : !toggle }">
            <div class="nav" fxFlex="0 1 100%" fxFill fxLayout="column" fxLayoutAlign="center center">
                <div class="nav-item">
                    <a [ngClass]="'user-Profile nav-link mat-ripple'">
                        <mat-icon>account_circle</mat-icon> <span class="ml-12">My Profile</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a [ngClass]="'user-Logout nav-link mat-ripple'" (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon> <span class="ml-12">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </mat-list>

    <!-- <mat-list class="user-menu">

        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
            <mat-icon class="s-32" fxHide.xs>menu</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>My Profile</span>
            </button>

            <button mat-menu-item class="">
                <mat-icon>mail</mat-icon>
                <span>Inbox</span>
            </button>

            <button mat-menu-item class="" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>

        </mat-menu>

        <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img class="flag mr-8 ml-0" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
            </div>
        </button>

        <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

            <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang.id)">
                <span fxLayout="row" fxLayoutAlign="start center">
                    <img class="flag mr-16 ml-0" [src]="'assets/images/flags/'+lang.flag+'.png'">
                    <span class="iso">{{lang.title}}</span>
                </span>
            </button>

            <button mat-menu-item [routerLink]="'/components/multi-language'">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span>Learn more</span>
                </div>
            </button>

        </mat-menu>

        <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')"
            fxHide.gt-md>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>
    </mat-list> -->

</mat-toolbar>